<!-- <p>repos works!</p>
<div class="jumbotron">
    <h1 class="display-4 text-center">Repos</h1>
    <hr class="my-4">
    <p class="lead text-center">This contains all the repositories created by the Github user.</p>
  </div> -->
<!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Repositories</th>
      <th>Profile Star</th>

    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <th scope="row">1</th>
      <td>Kate</td>
      <td>Moss</td>
      <td>USA</td>
      <td>New York City</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Anna</td>
      <td>Wintour</td>
      <td>United Kingdom</td>
      <td>London</td>

    </tr>

  </tbody>
  <!--Table body-->


</table>
<!--Table-->