<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let repo of repos">
      <div class="card" style="width: 18rem;" >
        <img src="{{repo.owner.avatar_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{repo.name}}</h5>
         </div>
        <div class="card-body">
          <a href="{{repo.html_url}}" class="card-link">Github link</a>
          <a href="{{repo.homepage}}" class="card-link">Live link</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--Table body-->


<!-- </table> -->
<!--Table-->